/**********************Elements**************************/
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #0f4c75;
    margin: 0 auto;
    text-decoration: underline;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #0f4c75;
    margin: 0 auto;
}

h3 {
    font-family: 'Great Vibes', cursive;
    color: #00204a;
    margin: 0 auto;
    text-shadow: 1px 1px white;
    font-size: 2.5em;
}

hr {
    width: 75%;
}
/**********************/
ul {
    margin: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 1em;
}

li a {
    margin:0;
    padding: 0;
}

a:link, a:visited {
  color: #1E62D0;
  text-decoration: none;
  cursor: auto;
}

a:link:active, a:visited:active {
  color: #1E62D0;
}

li a:hover,
a:hover
    {
    background-color: rgba(37, 41, 47);
    color: #2c88c7;
    border: 7px solid #2c88c7;
}
/*************************************/
p {
    word-spacing: 2px;
    margin: 0;
    color: #00204a;
    font-size: 1em;
    line-height: 2;
}

tr {
    line-height: 3;

}
table{
    width:100%;
    margin-bottom: 35px;
}

button {
    margin-bottom: 50px;
}

.data-label {
    width: 25%;
    text-align: left;
}

.data-input {
    width: 70%;
    text-align: left;
}

/**********************Containers**************************/
.nav-bar-container {
    display: block;
    background-color: black;
    color: #2c88c7;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 .5em #2c88c7;
}

#intro-image-container {
    padding-top: 80px;
}

#about-us-container {
    background-color: #bbe1fa;
    padding-top: 80px;
}

.about-us-sub-container {
    color: black;
    width: 50%;
    margin: auto;
    text-align: left;
}

#the-team-container {
    background-color: #bbe1fa;
    color: black;
    padding-top: 80px;
    padding-bottom: 80px;
}

.michael-container, .lisa-container {
    width: 50%;
    margin: auto;
    text-align: left;
    line-height: 2;
    margin-top: 50px;
}

#contact-us-container {
    background-color: #3282b8;
    color: white;
    padding-top: 30px;
}

.contact-us-sub-container {
    width: 50%;
    margin:auto;
}

.footer-container {
    padding-top: 20px;
    background-color: white;
    background-color: black;
    color: white;
}


/**********************individual headers**************************/
.about-us-header {
    width: 150px;
    line-height: 3;
}

.the-team-header {
    width: 157px;
    line-height: 3;
}

.intouch-header {
    color: white;
    text-shadow: 1px 1px black;
    line-height: 2.5;
}

.copyright {
    text-align: center;
}

/****************************images**********************************/
.logo-img {
    width: 75%;
}

.michael-img {
    width: 40%;
    float: left;
    margin-right: 30px;
}

.lisa-img {
    width: 40%;
    float: right;
    margin-left: 30px;
}
