* {
    font-family: "Trebuchet MS", fantasy;
    font-style: italic;
    font-size: 1.7vw;
}

body {
    background-color: beige;

}

#myname {
    color: white;
    text-shadow: 10px 1px black;
    font-size: 5vw;
    text-align: center;
    background-image: url("brick.jpg");
}

.styled-header {
    color: cadetblue;
    text-shadow: 1px 1px black;
    text-align: center;
}

.important {
    color: red;
}

#intro-container {
    border: 10px darkgoldenrod solid;
    padding: 20px;
    text-align: center;
}

.list-container {
    float: inherit;
    width: 50%;
    text-align: left;
}

#center {
    float: left;
    width: 100%;

}

#interest-container {
    border: 5px darkgoldenrod solid;
    float: left;
    padding-left: 1%;
    background-color: bisque;
    width: 98%;
    margin: 1%
}

.calendar {
    font-family: sans-serif;
    float: left;
    text-align: center;
    width: 33%;

}

th {
    text-align: center;
    font-weight: 700;
}

td {
    text-align: center;
    width: 1%; 
}

.today {
    text-decoration: underline;
    font-weight: bold;
    color: red;
}


.files-container {
    float: left;
    text-align: center;
    width: 33%;
}

.form-container {
    float: left;
    width: 33%;
    text-align: center;
}

.form-headers {
    color: cadetblue;
    text-shadow: 1px 1px black;
    text-align: center;

    width: 100%;
}

.form {
   text-align: left; 
}

select {
    font-size: 1vw;
}
textarea{
    font-size: 1vw;
    width: 300px;
    height: 100px;
}
#button{
    border: 10px black;
    border-radius: 32px;
    padding: 16px;
    background-color: cadetblue;
    font-size: 1vw;
    text-align: center;
}
#button:hover{
    border: 10px black;
    border-radius: 32px;
    padding: 16px;
    background-color:darkcyan;
    font-size: 1vw;
}


